# Numerous always-ignore extensions #
########################
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor files/folders #
##############################
node_modules
npm-debug.log
.DS_Store
.DS_Store?
Thumbs.db
._*
.cache
.project
.settings
.Spotlight-V100
.Trashes
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
*.sass-cache
*.ruby-version
.ruby-version
.sass-cache
_gh_pages
_site
sftp-config.json
dw.json

# Custom stuff to ignore #
########################
coverage
docs/core
sslcerts/*.pem
config.mjs

db.realm
db.realm.lock
db.realm.note
db.realm.management